<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
</head>
<body>
    <h1>Cadastro de usuário</h1>
    <label for="nome">Informe o nome:</label><br>
    <input type="text" placeholder="Informe o seu Nome"><br>
    <label for="cpf">Informe o CPF:</label><br>
    <input type="text" placeholder="Informe o seu CPF"><br>
    <label for="email">Informe o E-mail:</label><br>
    <input type="email" placeholder="Informe o seu E-mail"><br>
    <label for="telefone">Informe o Telefone:</label><br>
    <input type="tel" placeholder="Informe o seu telefone"><br>
    <label for="nome">Informe o seu gênero:</label><br>
    <input type="checkbox" placeholder="Informe o seu gênero">Masculino
    <input type="checkbox" placeholder="Informe o seu gênero">Feminino
    <input type="checkbox" placeholder="Informe o seu gênero">Outros<br>
    <label for="nome">Informe o endereço:</label><br>
    <input type="text" placeholder="Informe o seu endereço"><br><br>
    <button type="submit">Enviar</button>
</body>
</html>